.footer-container {
    --max-width: 1250px;
    --padding: 2rem;

    max-width: min(var(--max-width),100% - (var(--padding)*2));
    margin-inline: auto;

    padding-block: 1rem;
    border-top: solid 3px #B80C09;
}