:root {
    --fs-nav-links: 0.8rem;

    --fs-title: 4.5rem;

    --ff-general:'Raleway', sans-serif;
    --ff-title: 'Sunflower', sans-serif;

    --fw-regular: 400;
    --fw-semi: 600;
    --fw-bold: 800;
}
/* Utility Classes For the Header */
.header-container {
    --max-width: 1350px;
    --padding: 2rem;

    max-width: min(var(--max-width),100% - (var(--padding)*2));
    margin-inline: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 1rem;
}

.title {
    font-family: var(--ff-title);
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    text-align: center;
}

.navbar-link {
    font-size: var(--fs-nav-links);
    font-weight: var(--fw-semi);
    text-decoration: none;
    transition: color ease-out 0.2s;
    animation-name: color-change;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); 
}

@keyframes color-change {
    0% {
        color: rgb(0, 63, 145);
	}
	25% {
		color: #744FC6;
	}
	50% {
		color: #003F91;
	}
	75% {
		color: #744FC6;
	}
	100% {
		color: #003F91;
	}
}

/* General Styling */
header {
    background-image: url();
}

.nav-list {
    display: flex;
    gap: 1.7rem;
    padding-block: 1rem;
}



@media (min-width: 50em) {
    :root {
        --fs-nav-links: 1.3rem;
        --fs-title: 3.5rem;
    }

    .header-container {
    --padding:1rem;
    flex-direction: row;
    }

    .nav-list {
        gap: 2.5rem;
    }
}